html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0 auto;
    background-color: grey;
}
.outer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000;

}
.inner_container{
    margin: 50px;
    padding: 0;
    background-repeat: no-repeat;
    box-sizing: inherit;
    display: block;
}
.bg-image {
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
 .simplebar{
     margin:60px;
     padding:0;
     background-repeat: no-repeat;
     box-sizing: inherit;
     display:block;

    }
    
.botText{
    color:#000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}
.botText span{
    line-height:1.5em;
    display: inline-block;
    background: #e0e0e0;
    word-break: break-word;
    margin-top: 75px;
    padding:10px;
    border-radius:8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards;
    position: absolute;
}
.response{
    color:#000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}
.response span{
    line-height:1.5em;
    display: inline-block;
    background: #e0e0e0;
    word-break: break-word;
    margin-top: 125px;
    padding:10px;
    border-radius:8px;
    border-bottom-left-radius: 10px;
    max-width: 80%;
    margin-left: 275px;
    animation: floatup .5s forwards;
    position: absolute;
    
}