html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0 auto;
    background-color: grey;
}
.outer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000;
    
}
.inner_container{
    margin: 50px;
    padding: 0;
    background-repeat: no-repeat;
    box-sizing: inherit;
    display: block;
    
}
.bg-image {
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    scroll-behavior: smooth;
    }
    .bg-image ::-webkit-scrollbar{
        display: none;
        
    }

 .simplebar{
     display: flex;
     margin:60px;
     padding:0;
     background-repeat: no-repeat;
     box-sizing: inherit;
     display:block;
     scroll-behavior: smooth;

    }
    img{
    height: max-content;
    overflow: auto;
    scrollbar-width: none;
    transition: max-height 0.2s ease-out;

    }
    
.botText{
    color:#000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}
.botText span{
    line-height:1.5em;
    display: inline-block;
    background: #e0e0e0;
    word-break: break-word;
    margin-top: 50px;
    padding:10px;
    border-radius:8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards;
    position: absolute;
}
.response{
    color:#000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}
.response span{
    line-height:1.5em;
    display: inline-block;
    background: #e0e0e0;
    word-break: break-word;
    margin-top: 100px;
    padding:10px;
    border-radius:8px;
    border-bottom-left-radius: 10px;
    max-width: 80%;
    margin-left: 2px;
    animation: floatup .5s forwards;
    position: absolute;
    
}
.onClick{
    color:#000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}
.onClick span{
    line-height:1.5em;
    display: inline-block;
    background: #e706c2;
    word-break: break-word;
    margin-top: 175px;
    padding:10px;
    border-radius:8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 275px;
    animation: floatup .5s forwards;
    position: absolute;
}
.onClick2{
    color:#000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}
.onClick2 span{
    line-height:1.5em;
    display: inline-block;
    background: #e706c2;
    word-break: break-word;
    margin-top: 300px;
    padding:10px;
    border-radius:8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 275px;
    animation: floatup .5s forwards;
    position: absolute;
}
.respo{
    color:#000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    
}
.respo span{
    line-height:1.5em;
    display: inline-block;
    background: #e0e0e0;
    word-break: break-word;
    margin-top: 225px;
    padding:10px;
    border-radius:8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: px;
    animation: floatup .5s forwards;
    position: absolute;
}
.respo1{
    color:#000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}
.respo1 span{
    line-height:1.5em;
    display: inline-block;
    background: #e0e0e0;
    word-break: break-word;
    margin-top: 350px;
    padding:10px;
    border-radius:8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: px;
    animation: floatup .5s forwards;
    position: absolute;
}
@keyframes floatup{
    from{
        transform: translateY(14px);
        opacity: .0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
@media screen and (max-width: 600px){
    img{
        width: 320px;
        
    }
}
    
